DOMAIN=alifaedtech.io
API_BASE_URL=https://api.alifaedtech.com
NEXT_PUBLIC_API_BASE_URL=https://api.alifaedtech.com
NEXT_PUBLIC_SUPPORT_BOARD_SCRIPT_SRC=https://cloud.board.support/account/js/init.js?id=1411014747
